*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-toggler{
   border: none;
}
.navbar-bg{
    background-color: #ffffff;
}
.cont-bg{
    /* top: 0; */
    background-color: #fff7df;
}
.eca .ec {
    display: inline-block;
    transition: transform 0.3s ease !important;
}

.eca:hover .ec {
    transform: translateX(5px) !important;
}

.img img{
    width: 50px;
    height: 50px;
}
.nig img{
    width: 45px;
    height: 30px;
}
.ico{
    font-size: 20px;
}
.mail i, .tel i{
    font-size: 30px;
}
.mails i, .tels i, .loc i{
    font-size: 25px;
}
.p{
    font-size: 12px;
}
.large{
    width: 300px ;
}
.liens i{
    font-size: 12px;
}
.connec button{
    width: 200px;
    border: none;
    background-color: #1d3d13;
    color: #ffffff;
    font-size: 18px;
    cursor:pointer;
}
.connec button:hover{
     background-color: #346628;
}
.foot-bg{
    background-color: #1d3d13; 
}
.foot-bg:hover{
    cursor: pointer;
    background-color: #346628;
}
.foot-bg p{
    color: #ffffff;
}
.bod img{
    width: 100%;
    height: 70vh;
}
.spa{
    color: gray;
}

.home img{
    cursor: pointer;
    height: 400px;
    transition: transform .5s ease;
}
.home:hover .photo{
    transform: scale(1.12) rotate(5deg);
}
.translate-middle-y{
    transform: translateY(-40%) !important;
}
.bg-card{
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 35%;
    bottom: 5%;
    z-index: 3;
    background-color: #ffffff;
}
.sec{
    display: flex;
    justify-content: center;
}
.bg-cards{
    position: absolute;
    bottom: 5%;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    bottom: 5%;
    background-color: #ffffff;
    /* background-color: antiquewhite; */
}
.connect button{
    width: 100%;
    border: none;
    /* background-color: #1d3d13; */
    background-color: #ffffff;
    color: #ffffff;
    color: #558f7b;
    font-size: 18px;
}
.connect{
    width: 200px;
}
.connect button:hover{
    background-color: #1d3d13;
    color: #ffffff;
}
.bis{
    color: #558f7b;
}
/* .bg-cards{

    opacity: 0;
} */
/* .homes:hover .bg-cards{
    opacity: 1;
} */
.homes:hover .bg-card{
    opacity: 0;
}
.text-overlay{
    width:50%;
    margin-top: 100px;
    margin-left: 20px;
    z-index: 1;
    
}
.connecc button{
    width: 140px;
    border: none;
    background-color: #eedf6a;
    color: gray;
    font-size: 14px;
}
.connecct button{
    width: 140px;
    border:solid 1px #ffffff;
    background-color:transparent;
    color: #ffffff;
    font-size: 14px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 80%;
    background-color: #1d3d13;
    color: #ffffff; 
}
.spann{
    color: #1d3d13;
}
.color{
    color: #57907f;
}
.bos img{
    height: 300px;
    object-fit:cover;
}

.tons{
    background-color: #efdf68;
    height: 300px;
}
.to img{
    height: 300px;
}
.tonss{
    background-color: #1d3d13;
    height: 300px;
}
.fs-7 {
  font-size: 0.80rem !important;
}
.avatar img{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 400px;
}
.tex{
      opacity: 0;
}
/* .im::before{
   
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 2;
  overflow: hidden !important;

} */
/* .ims{
    width: 100%;
  height: 100%;
  object-fit: cover;
} */




@media (min-width: 992px) {   /* lg */
  .bg-cards {
    /* height: 35%;
    transform: translateY(100%) !important;
    opacity: 0 !important;
    transition: transform 0.6s ease, opacity 0.6s ease !important; */
    opacity: 0 !important;
    transform: translateY(5%) !important; /* apparait depuis 5% du bas */
    max-height: 0 !important;
    overflow: hidden !important;
    transition: 
        opacity 1s ease ,
        transform 1s ease,
        max-height 1s ease !important;
    
  }

  .homes:hover .bg-cards{ 
    height: 250px;
    /* transition: transform .5s ease;
    z-index: 3;
    opacity: 1 !important;
    transform: translateY(0%) !important; */
    opacity: 1 !important;
    transform: translateY(0) !important;
    z-index: 3 !important;
    max-height: 500px !important; /* pour déployer le contenu */
}
}

@media screen and (max-width:768px) {
    .bg-cards{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    border: solid 1px grey;
    background-color: #ffffff;
    /* background-color: antiquewhite; */
}
.bg-card{
   opacity: 0;
}
.home img{
    height: 300px;
}
.text-overlay{
    width:65%; 
}
.tex{
    justify-content: end;
      opacity: 1;
}
}
@media screen and (max-width:425px) {
    .cont-bg{
        position: fixed;
        /* position: absolute; */
        z-index: 5;
        top: 0;
    background-color: #ffffff;
}

.form-control{
    width: 100px;
}
.translate-middle-y{
    transform: translateY(-20%) !important;
}
.text-overlay{
    width:89%; 
}
.tex{
    justify-content: center;
      opacity: 1;
}
}
@media screen and (max-width:320px) {
    .jaime{
    flex-direction: column;
}
    
}

