*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bo img{
    height: 350px;
    object-fit:cover;
}
.ton{
    background-color: #efdf68;
    height: 650px;
}
.bo{
    overflow: hidden !important;
}
.badge img{
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 400px;
}
.badge{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 400px;
    top: 150px;
    left: 100px;
    font-size: 14px;
    color: grey;
}
.color{
    color: #57907f;
}
.colo{
    background-color: #e3e6e7;
}
.borders{
    border: 1px solid gray;
    border-top: 2px solid #3c8e24;
    border-bottom: 2px solid #3c8e24;
}
.borde{
    border-bottom: 1px solid gray;
}
.bord{
    border: none;
}
.observation textarea{
    height: 200px;
    width: 93%;
}
.inp input{
    margin-right: 20px;
    width: 45%;
}

@media screen and (max-width:425px) {
    .observation textarea{
    height: 200px;
    width: 100%;
}
.inp input{
   margin-bottom: 20px;
    width: 100%;
}

}