*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-toggler{
   border: none;
}
.navbar-bg{
    background-color: #ffffff;
}
.cont-bg{
    background-color: #fff7df;
}
.img img{
    width: 50px;
    height: 50px;
}
.nig img{
    width: 45px;
    height: 30px;
}
.ico{
    font-size: 20px;
}
.mail i, .tel i{
    font-size: 30px;
}
.mails i, .tels i, .loc i{
    font-size: 25px;
}
.p{
    font-size: 12px;
}
.large{
    width: 300px ;
}
.liens i{
    font-size: 12px;
}
.connec button{
    width: 200px;
    border: none;
    background-color: #1d3d13;
    color: #ffffff;
    font-size: 18px;
}
.foot-bg{
    background-color: #1d3d13;
    
}
.foot-bg p{
    color: #ffffff;
}
.bod img{
    width: 100%;
    height: 70vh;
}

.spa{
    color: gray;
}
@media screen and (max-width:425px) {
    .cont-bg{
    background-color: #ffffff;
}
.form-control{
    width: 100px;
}
}

